<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gilbert</title>
    <link rel="icon" href="cat.png" type="image/png">
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <div class="container">
        <header class="header"><h1>Gilbert</h1></header>
        <nav class="nav">
            <a href="/" class="nav-text"><h1 >Home</h1></a>
            <a href="" class="nav-text"><h1 >Search</h1></a>
            <a href="" class="nav-text"><h1 >Favorits</h1></a>
            <a href="/profile" class="nav-text"><h1 >Profile</h1></a>
            <a href="" class="nav-text"><h1>Notifications</h1></a>
            <a href="/"><img class="nav-image" src="home.png" alt="Home"></a>
            <a href=""><img class="nav-image" src="search.png" alt="Search"></a>
            <a href=""><img class="nav-image" src="heart.png" alt="Favorites"></a>
            <a href="/profile"><img class="nav-image" src="cat.png" alt="Profile"></a>
            <a href=""><img class="nav-image" src="bell.png" alt="Notifications"></a>
        </nav>
        <main class="main">
        </main>
    </div>
</body>
</html>