<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
</head>
<body>
<section>
    <form action="/signup" method="post">
            <input type="text" id= "username" name="username" required>
            <label>Name</label>
            <input type="email" id="email" name="email" required>
            <label>Email</label>
            <input type="password" id="password" name="password" required>
            <label>Password</label>
        <button id="submit" type="submit">Sign Up</button>
    </form>
    <a href="/" class="nav-text"><h1 >Home</h1></a>
    <a href="/search" class="nav-text"><h1 >Search</h1></a>
    <a href="/favorites" class="nav-text"><h1 >Favorites</h1></a>
    <a href="/profile" class="nav-text"><h1 >Profile</h1></a>
    <a href="/notifications" class="nav-text"><h1>Notifications</h1></a>
    <a href="/"><img class="nav-image" src="home.png" alt="Home"></a>
    <a href="/search"><img class="nav-image" src="search.png" alt="Search"></a>
    <a href="/favorites"><img class="nav-image" src="heart.png" alt="Favorites"></a>
    <a href="/profile"><img class="nav-image" src="cat.png" alt="Profile"></a>
    <a href="/notifications"><img class="nav-image" src="bell.png" alt="Notifications"></a>
</section>
</body>
</html>
