<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
</head>
<body>
<section>
    <form action="/signup" method="post">
            <input type="text" id= "username" name="username" required>
            <label>Name</label>
            <input type="email" id="email" name="email" required>
            <label>Email</label>
            <input type="password" id="password" name="password" required>
            <label>Password</label>
        <button id="submit" type="submit">Sign Up</button>
    </form>
</section>
</body>
</html>
